fingerprint-feature-extractor==0.0.10
fingerprint_enhancer==0.0.13
imageio==2.33.1
lazy_loader==0.3
networkx==3.2.1
numpy==1.26.3
packaging==23.2
pillow==10.2.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
pyserial==3.5
scikit-image==0.22.0
scipy==1.11.4
tifffile==2023.12.9
